.social-media{
  display: block;
  height: 30px;
  width: 30px;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

.social-media[href*="twitch"]{
  background-image: url('../../images/twitch.png');
}

.social-media[href*="twitter"]{
  background-image: url('../../images/twitter.png');
}

.social-media[href*="discord"]{
  background-image: url('../../images/discord.png');
}